# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Ignore large 3' UTR FASTA file generated for novel miRNA target prediction
analyses/human-novel-mirna-target-prediction/results/gencode.v39.3utr.fa
analyses/murine-novel-mirna-target-prediction/results/Mus_musculus.GRCm39.3utr.fa

# Ignore miranda ouput
analyses/human-novel-mirna-target-prediction/result/human_miranda_output.txt
analyses/murine-novel-mirna-target-prediction/results/mouse_miranda_output.txt

# Ignore large files
analyses/human-rna-expression/result/MB_miRNA_pathway_correlations_tidy.tsv
analyses/human-rna-expression/result/MB_miRNA_pathway_correlations.tsv
analyses/human-rna-expression/result/DIPG or DMG_miRNA_pathway_correlations_tidy.tsv
analyses/human-rna-expression/result/DIPG or DMG_miRNA_pathway_correlations.tsv
